# Ambiente Local
LOCAL_DATA_DIR="data"

# API GovBR / CGU
CGU_API_BASE_URL="https://api.portaldatransparencia.gov.br/api-v1"
CGU_API_KEY="sua_chave_aqui"

# Azure Data Lake (Camadas Bronze/Silver)
AZURE_STORAGE_CONNECTION_STRING="sua_connection_string_aqui"

# Azure SQL (Camada Gold Relacional)
AZURE_SQL_SERVER="seu-servidor.database.windows.net"
AZURE_SQL_DB="govbr_monitor_gold"
AZURE_SQL_USER="seu_usuario"
AZURE_SQL_PASSWORD="sua_senha"